
.home-page-class .hero {
    margin: 0 auto; 
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100vh !important;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.home-page-class .home-blog .hero h1{
  color: var(--text-color	) !important
  margin:0 auto;

}
.home-page-class .reco-show .hero .description{
  color: var(--text-color	) !important
}